*{
	margin: 0;
	padding: 0;
	font-family: 'Oswald', sans-serif;
	
}
.header{
	min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)) , url(background.jfif);
	background-position: center;
	background-size: cover;
	position: relative;
}
nav {
	display: flex;
	padding: 5% 6%;
	justify-content: space-between;
	align-items: center;
}
.nav-links{
	flex: 1;
	text-align: center;
}
.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}
.nav-links ul li a{
	color : #fff;
	text-decoration: none;
	font-size: 17px;
}
.nav-links ul li::after{
	content: '';
	width: 0%;
	height: 2px;
	background: #f44336;
	display: block;
	margin: auto;
	transition: 0.3s;
}
.nav-links ul li:hover::after{
	width: 100%;
}
.text-box{
	width: 100;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate( -50%,-50%);
	text-align: center;
}
.text-box h1 {
	font-size: 70px;
	text-align: center;
}
.text-box p{
	margin: 10px 0 40px;
	font-size: 20px;
	color: #fff;
}

/* ------ ATTRACTION PAGE ------ */

.sub-header{
	height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(12.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
	color: #fff;
	
}
.attraction{
	width: 80%;
	margin: auto;
	padding-top: 50px;
	padding-bottom: 50px;
	font-size: 20px;
	text-align: center;
}
.cwc{
	flex-basis: 50%;
	padding: 30px 2px;
	
	
}
.cwc img{
	width: 25%;
	position: left;
	align-image: center;
	
}


/* ------ EVENTS PAGE ------ */

.sub-header1{
	height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(qwe.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
	color: #fff;
	
}

.events{
	width: 80%;
	margin: auto;
	padding-top: 50px;
	padding-bottom: 50px;
	font-size: 20px;
	text-align: center;
}

.cwc{
	flex-basis: 50%;
	padding: 30px 2px;
	
	
}
.cwc img{
	width: 25%;
	position: left;
	align-image: center;
	
}










/* ------ DELICACIES PAGE ------ */

.delicacies{
	width: 80%;
	margin: auto;
	padding-top: 50px;
	padding-bottom: 50px;
	font-size: 20px;
	text-align: center;
}

.sub-header2{
	height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(pili.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
	color: #fff;
}










	/* ------------ABOUT------------ */ 


.sub-header3{
	height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(muni.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
	color: #fff;
}


	
